:root {
    --color-one: #12395b;
    --color-two: #ffffff;
    --color-three: #e6f1fa;
    --color-three-hover: #f1f7fc;
    --color-three-alt: #c8dbeb;
    --color-four: #006ec8; 
    --color-five: #0b2237; 
    --color-five-hover: #14304b;
    --color-four-hover: #8ec8f7; 
    --color-six: #bdf0df;
    --color-seven: #115e44;
}
html {
    scroll-behavior: smooth;
}
body {
   background-color: var(--color-five);
   margin: 0;
   font-family: ui-sans-serif,system-ui,"Segoe UI","Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
   padding: 0;
   font-weight: 100;
}
.flashLight {
    position:absolute;
    transform:translate(-50%,-50%);
    height:75em;
    width:75em;
    border-radius:50%;
    background-image: radial-gradient(white, var(--color-five), var(--color-five-hover), white, var(--color-three-alt), var(--color-five), 
    var(--color-five-hover), var(--color-three-alt), var(--color-five), var(--color-five-hover));
    /* transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .5s; */
    opacity: 0.02;    
}
a {
    color: var(--color-six);
}
a:visited {
    color: var(--color-four);
}
.container {
    margin-top: 0;
    color: var(--color-five);
    min-height: 900px;
}
.header {
    background-color: var(--color-five);
    color: var(--color-three);
    margin-top: 3em;
    width: 40%;
    text-align: right;
    padding: 0.5em;
    padding-top: 1em;
    padding-left: 0em;
    position: fixed;
    float: left;
}
.header > * {
    float: left;
}

.subHeader {
    background-color: var(--color-five);
    color: var(--color-three);
    width: 100%;
    margin-top: 1em;
}
.pageTitles {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    color: var(--color-six);
    text-align: right;
    font-size: 1.5em;
    padding: 0em;
    display: none;
    margin-top: 0.75em;
}
.pageTitles:hover {
    font-size: 2.5em;
    margin-top: 0.25em;
    transition-delay: 0.2s; 
    -webkit-transition-delay: 0.2s; 
}
.pageTitles-Alt {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    color: var(--color-six);
    text-align: right;
    font-size: 2.5em;
    padding: 0em;
    display: none;
    margin-top: 0.25em;
}
.page {
    display: none;
    color: var(--color-three);
}

.expBlock {
    width: 80%;
    padding: 0.25em;
    border-top: 1px solid  var(--color-five);
    border-left: 1px solid  var(--color-five);
    float: left;
}

#referencesPage > .expBlock {
    width: 60% !important;
}

.expBlock:hover {
    border-radius: 0.5em;
    background-color: var(--color-five-hover);
    transition-delay: 0.1s;
    box-shadow: 1px 2px #081d32;
    border-top: 1px solid #4e7297;
    border-left: 1px solid #4e7297;
}

.expBlock > h3 {
    width: 85%;
    color: var(--color-three-alt);
    font-size: 1.25em;
    margin-bottom: 0.25em;
    margin-top: 0.5em;
    margin-left: 5%;
    font-weight: 100;
}

.expBlock:hover > h3 {
    color: var(--color-six);
}

.expBlock > p {
    width: 80%;
    font-size: 0.9em;
    margin-top: 0.2em;
    margin-bottom: 1em;
    margin-left: 10%;
    line-height: 1.5em;
}

.aboutMe {
    font-size: 1.1em !important;
    line-height: 2em;
}

.mainBody {
    margin-top: 3em;
    width: 55%;
    margin-left: 45%;
    float: left;
}
.mainBody > * {
    float: left;
}

.skillList {
    width: 100%;
    float: left;
    margin-left: 10%;
    margin-bottom: 1em;
    display: none;
}
.skillList-Alt {
    margin-top: 2em;
    float: left;
    margin-left: 10%;
    margin-bottom: 1em;
    width: 50%;
}
.skillList-Alt > .skillBubble {
    margin-top: 1em;
}
.expBlock:hover > .skillList {
    display: inline-block;
}
.skillBubble {
    float: left;
    font-size: 0.8em;
    padding: 0.5em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    line-height: 1.3em;
    border-radius: 1em;
    background-color: var(--color-seven);
    color: var(--color-six);
    font-weight: 500 !important;
    margin-right: 1em;
    box-shadow: 1px 1px #081d32;
    border-top: 1px solid var(--color-six);
    border-left: 1px solid var(--color-six);
}

.header > h1, h2, p {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0.25em;
    margin-bottom: 0em;
}

.intro {
    color: var(--color-six);
    font-size: 1.5em;
    opacity: 0;
}
.sub-intro {
    color: var(--color-six);
    font-size: 1em;
    width: 50%;
    margin-left: 45%;
    margin-right: 5%;
    opacity: 0;
}
.header > h1 {
    font-size: 3em;
}
.header > h2 {
    font-size: 1.75em;
    color: var(--color-three-alt);
}

@media only screen and (max-width: 600px) {
    .header {
        margin-top: 0;
        width: 100%;
        text-align: center;
        display: inline-block;
        position: relative;
    }

    .mainBody {
        margin-top: 0.5em;
        width: 100%;
        margin-left: 0%;
    }

    .intro {
        margin-top: 0.5em;
        font-size: 1.5em;
        opacity: 0;
    }
    .sub-intro {
        font-size: 1em;
        width: 90%;
        margin-left: 5%;
        opacity: 0;
    }
    .pageTitles {
        text-align: center;
    }
    .pageTitles-Alt {
        text-align: center;
    }

    .expBlock {
        width: 100%;
        float: none;
    }
    .expBlock > h3 {
        color: var(--color-six);
        width: 85%;
        margin-left: 7.5%;
    }
    .expBlock > p {
        width: 80%;
        margin-left: 10%;
    }
    .skillList-Alt {
        margin-top: 2em;
        float: left;
        margin-left: 5%;
        margin-bottom: 1em;
        width: 90%;
    }
    .skillList-Alt > .skillBubble {
        margin-top: 1em;
    }
    #referencesPage > .expBlock {
        width: 100% !important;
    }
}