:root {
    --color-one: #12395b;
    --color-two: #ffffff;
    --color-three: #e6f1fa;
    --color-three-hover: #f1f7fc;
    --color-three-alt: #c8dbeb;
    --color-four: #006ec8; 
    --color-five: #0b2237; 
    --color-five-hover: #14304b;
    --color-four-hover: #8ec8f7; 
    --color-six: #bdf0df;
}
body {
   background-color: var(--color-five);
   margin: 0;
   font-family: ui-sans-serif,system-ui,"Segoe UI","Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
   padding: 0;
   font-weight: 100;
}
.flashLight {
    position:absolute;
    transform:translate(-50%,-50%);
    height:75em;
    width:75em;
    border-radius:50%;
    background-image: radial-gradient(white, var(--color-five), var(--color-five-hover), white, var(--color-three-alt), var(--color-five), 
    var(--color-five-hover), var(--color-three-alt), var(--color-five), var(--color-five-hover));
    /* transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .5s; */
    opacity: 0.02;    
}

.container {
    margin-top: 0;
    color: var(--color-five);
    min-height: 900px;
}
.header {
    background-color: var(--color-five);
    color: var(--color-three);
    margin-top: 4em;
    width: 40%;
    text-align: right;
    padding: 0.5em;
    padding-top: 1em;
    padding-left: 0em;
    position: fixed;
}

.subHeader {
    background-color: var(--color-five);
    color: var(--color-three);
    width: 100%;
    margin-top: 1em;
}
.pageTitles {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    color: var(--color-six);
    text-align: right;
    font-size: 1.5em;
    padding: 0em;
    display: none;
    margin-top: 1em;
}
.pageTitles:hover {
    font-size: 2.5em;
    margin-top: 0.5em;
    transition-delay: 0.2s; 
    -webkit-transition-delay: 0.2s; 
}
.pageTitles-Alt {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    color: var(--color-six);
    text-align: right;
    font-size: 2.5em;
    padding: 0em;
    display: none;
    margin-top: 0.5em;
}
.page {
    display: none;
    color: var(--color-three);
}

.expBlock {
    width: 80%;
    padding: 0.25em;
    border-top: 1px solid  var(--color-five);
    border-left: 1px solid  var(--color-five);
}

.expBlock:hover {
    border-radius: 0.5em;
    background-color: var(--color-five-hover);
    transition-delay: 0.3s;
    box-shadow: 1px 2px #081d32;
    border-top: 1px solid #4e7297;
    border-left: 1px solid #4e7297;
}

.expBlock > h3 {
    width: 85%;
    color: var(--color-three-alt);
    font-size: 1.2em;
    margin-bottom: 0.25em;
    margin-top: 0.5em;
    margin-left: 5%;
    font-weight: 100;
}

.expBlock:hover > h3 {
    color: var(--color-six);
}

.expBlock > p {
    width: 80%;
    font-size: 0.8em;
    margin-top: 0.2em;
    margin-bottom: 1em;
    margin-left: 10%;
    line-height: 1.5em;
}

.mainBody {
    margin-top: 4em;
    width: 55%;
    margin-left: 45%;
}

@media only screen and (max-width: 749px) {
    .pageTitles {
        width: 33.333%;
    }
    .subHeader {
        height: 4.5em;
    }
}
@media only screen and (max-width: 479px) {
    .subHeader {
        display: none;
    }
    .mainBody {
        display: none;
    }
}


.header > h1, h2, p {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0.25em;
    margin-bottom: 0em;
}

.intro {
    color: var(--color-six);
    font-size: 1.5em;
    opacity: 0;
}
.sub-intro {
    color: var(--color-six);
    font-size: 1em;
    width: 50%;
    margin-left: 45%;
    margin-right: 5%;
    opacity: 0;
}
.header > h1 {
    font-size: 3.5em;
}
.header > h2 {
    font-size: 2em;
    color: var(--color-three-alt);
}

.col-12 {
    width: 100%;
}
.col-9 {
    width: 75%;
}
.col-8 {
    width: 66.666%;
}
.col-6 {
    width: 50%;
}
.col-4 {
    width: 33.333%;
}
.col-3 {
    width: 25%;
}
.col-20 {
    width: 20%;
    text-align: center;
}
.col-2 {
    width: 1/6%;
}

.row {
    float: left;
}
.row > *{
    float: left;
}